*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: font-family: "Poppins", sans-serif;;
}
:root{
    --secondary-bg-color: #FBFAFE;
    --primary-bg-color:#fefefe;
    --primary-text-color: #35414B;
    --secondary-text-color:#4E5A65;
    --highlight-bg-color: #796EFF;
    --primary-padding:0px 100px;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: row;
}
header .logo{
    font-size: 18px;
    font-weight: 600;
    margin-left: 100px;
}
header nav{
 display: flex;
}
header nav a{
   color: black; 
   margin-right: 20px;
   text-decoration: none;
   font-size: 16px;
   font-weight: 400;
   }
   header nav a i{
    margin-left: 5px;
    font-size: 14px;
    align-items: center;
 }
 header .wrapper .btn{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction:row;
 }
 header .btn a{
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-right: 10px;
 }
header .btn button{
    height: 30px;
    width: 130px;
    border-radius: 4px;
    background-color: #8777e4;
    border: transparent;
    color: rgb(237, 236, 238);
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
 }
 /* #hero-section */
 .content{
    margin-top: 40px;
    text-align: center;
}
.content .btn button{
    height: 30px;
    width: 220px;
    border-radius: 20px;
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--secondary-text-color);
    font-weight: 300;
    }
.content .btn button span{
     width: 100px;
padding:6px  ;
color: whitesmoke;
 background-color: #81C43B;
    border-radius:20px ;
    margin-right: 20px;
    }
h1{
    color: var(--primary-text-color);
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 900;
    margin: 20px;
}
p{
    color: var(--secondary-text-color);
}
.link{
    height: 30px;
    width: 350px;
    text-align: center;
    margin-left: 470px;
    border: 1px solid rgba(247, 243, 243, 0.966);
    margin-top: 20px;
    border-right: none;

}
.link a{
    color: var(--secondary-text-color);
    font-size: 16px;
    text-decoration: none;
    margin-right: 75px;
    }
.link button{
    height:27px ;
    width: 92px;
    border: none ;
    padding: 0;
    margin-left: 10px;
    background-color: var(--highlight-bg-color);
}
.hero-section-card .img > img{
 width: 300px;
    }
.team .img{
    display: flex;
    justify-content: center;
}
.team > .img > img{
    height: 30px;
    width: 80px;
  margin: 0px;
  margin-right: 20px;
  
}
.team{
    text-align: center;
}
.team > p{
color: var(--secondary-text-color);
margin-bottom: 20px;
}

/* #timeline-section */
.timelinecard{
    width: 100%;
     display: flex;
    border: 1px solid rgb(226, 223, 223);
    background-color: var(--secondary-bg-color);
     margin-top:50px;
    }
 .timelinecard .img img{
    width: 300px;
    margin-top: 50px;
}
.timelinecard .survey{
    padding-top: 20px;
    position: relative;
}
.timelinecard h4{
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 8px;
}
.timelinecard p{
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
}
.timelinecard .survey:nth-child(1){
    background-color: rgba(245, 239, 239, 0.678);
    border-radius: 8px;
    padding: 10px;
}
.timelinecard .survey:nth-child(1)::after{
content: '';
height: 77px;
width: 5px;
background-color: #796EFF;
left: -5px;
bottom: 9px;
position: absolute;
}

/* #work-easier-section */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.workeasycard h2{
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
}
.workeasycard .content{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
align-items: start;
    
}
.workeasycard .content .img > img{
    height: 50px;
    width: 50px;
margin: 0px;
}
.workeasycard .content h4{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
    color: var(--primary-text-color);
    margin-right: 40px;
}
.workeasycard .content p{
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
.workeasycard .card1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.workeasycard .card2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
}

/* #worktime-section */
#worktime-section{
    margin-top: 50px;
}
.worktimecard{
    display: flex;
    height:100%;
    width: 100%;
    background-color: var(--secondary-bg-color);
    }
    .worktimecard .img img{
    height: 350px;
    width: 300px;
    margin-top: 40px;
}
.worktimecard .content{
width: fit-content;
}
.worktimecard .content h3{
    font-size: 24px;
    font-weight: 800;
    color: var(--primary-text-color);
    margin-top: 70px;
}
.worktimecard .content p{
    color:var(--secondary-text-color);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
.worktimecard button{
    height: 30px;
    width: 120px;
    background-color: var(--highlight-bg-color);
    border: none;
    color: whitesmoke;
    margin-top: 15px;
}
/* #testimonials-section */
.user-feedbackcard{
    text-align: center;
}
        .section-heading {
            color: var(--primary-text-color);
            font-size: 22px;
            font-weight: 800;
            letter-spacing: 2px;
            margin-bottom: 30px;
            margin-top: 30px;
        }
        .section-heading p{
            color: var(--secondary-text-color);
            font-size: 16px;
        }
        .profiles{
            display: flex;
             margin-top: 40px;
        }
        .profile{
            display: flex;
            align-items: center;
            margin-left: 80px;
            
           }
           .profile .img > img{
            height:40px;
            width: 40px;
            margin-left: opx;
           }
           .profile .info{
            padding-left: 8px;
           }
           .profile .info h4{
            color: var(--primary-text-color);
            font-weight: 600;
           }
           .profile .info p{
            color: var(--secondary-text-color);
            padding-top: 5px;
           }
           .profile:nth-child(1){
            position: relative;
           }
           .profile:nth-child(1)::before{
            content: '';
            height: 3px;
            width: 180px;
            top: -10px;
 background-color: black;
           position: absolute;
           }
           /* #cta-section */

           .cta-card{
             width: 9400px;
            background-color: var(--highlight-bg-color);
        display: flex;
        margin: var(--primary-padding);
            border-radius: 8px;
            margin-top: 20px;
           }
         
           .cta-card .img img{
            height: 40px;
            width: 150px;
            margin-left: 20px;
        }
        .cta-card h3{
            color: whitesmoke;
        }

        /* footer-section */
        .footer{
            background-color: rgb(20, 19, 19);
         }
         .top-footer{
             display: flex;
             justify-content: space-between;
             align-items: center;
          }
             .quick-links{
             color: whitesmoke;
             font-size: 16px;
             font-weight: 500;
             padding-left: 30px;
             padding-top: 30px;
         }
         .quick-links a{
             text-decoration: none;
             color: whitesmoke;
             line-height: 25px;
         }
         .support{
             color: whitesmoke;
             font-size: 16px;
             font-weight: 400;
             margin-left: 50px;
         }
         
         .support a{
             line-height: 25px;
             text-decoration: none;
             color: whitesmoke;
         }
         .legal{
             color: whitesmoke;
         }
         .legal a{
             color: whitesmoke;
             line-height: 25px;
             text-decoration: none;
         }
         .app{
             color: whitesmoke;
             margin-top: 20px;
             margin-right: 30px;
         }
         .app .img{
             height: 30px;
             width: 50px;
             background-color: black;
         }
         .bottom-footer{
             color: whitesmoke;
             padding: 40px 0;
             margin-left: 20px;
             display: flex;
             
         }
         .bottom-footer p{
            width: fit-content;
         }
       .bottom-footer .icon i{
             padding-left: 20px;
             height: 40px;
             width: 40px;
             font-size: 24px;
             color: whitesmoke;
         }