@media screen and (min-width:768px){
    #hero-section .hero-section-card .img > img{
        width: 100%;
    }
    #hero-section .hero-section-card .team .img{
        justify-content: space-between;
        margin-left: 60px;
        margin-top: 20px;
    }
    #hero-section .hero-section-card .btn{
        align-items: center;
        margin-left: 350px;
    }
    #worktime-section .worktimecard{
        display: flex;
        gap: 20px;
    }
    #worktime-section .worktimecard .content{
        margin-right: 50px;
    }
    #worktime-section .worktimecard .content .btn{
        align-items: center;
        margin-left: 350px;
    }
    #worktime-section .worktimecard .img{
        padding-left: 40px;
    }  
    #timeline-section .timelinecard .img{
        margin-left: 70px;
    }
    #timeline-section .timelinecard .content{
        margin: 10px;
    }  
    #testimonials-section .user-feedbackcard .profiles{
        margin-left: 20px;
    } 
   

}