@media screen and (min-width:576px){
   #timeline-section .timelinecard .content{
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
        
    }
#worktime-section .worktimecard {
        width: 100%;
        padding: 30px;
    }
    #hero-section .hero-section-card .img{
        width: 400px;
        margin-left: 120px;
    }
    #hero-section .hero-section-card .btn{
        align-items: center;
        margin-left: 150px;
    }
    #hero-section .hero-section-card .img img{
        width: 400px;
    }
    #hero-section .hero-section-card .team{
        height: 100px;
    }
    #hero-section .hero-section-card .team .img{
        justify-content: space-between;
    }
    #hero-section .hero-section-card .team .img img{
        margin-left: 20px;
    }
    #work-easier-section .workeasycard .card1 .content{
        padding: 0px 20px;
        align-items: start;
        }
    #work-easier-section .workeasycard .card1 .content p{
        align-items: start;
    }

    #work-easier-section .workeasycard .card2 .content{
        padding: 0px 20px;
    }

        

}